.mbth1, .mbth2, .mbth3, .mbth4, .mbth5, .mbth6, .mbtp, .mbtli, .mbt.wp-block-button__link, .mbt.wp-block-navigation-item__label, .mbt.wp-block-post-date, .mbt.wp-block-query-pagination-next, .mbt.wp-block-query-pagination-previous {
  font-family: 'Roboto', sans-serif;
}

.mbt.wp-block-navigation-item__label {
  color: #9b9b9b;
  transition: 0.3s ease;
}

.mbt.wp-block-navigation-item__label:hover {
  color: #000;
}

.mbt.wp-block-separator {
  border-top: 4px solid !important;
}

.mbt h1,
.mbt h2,
.mbt h3,
.mbt h4,
.mbt h5,
.mbt h6,
.mbt p,
.mbt li,
.mbt .wp-block-button__link,
.mbt .wp-block-navigation-item__label,
.mbt .wp-block-post-date,
.mbt .wp-block-query-pagination-next,
.mbt .wp-block-query-pagination-previous {
  font-family: 'Roboto', sans-serif;
}

.mbt .wp-block-navigation-item__label {
  color: #9b9b9b;
  transition: 0.3s ease;
}

.mbt .wp-block-navigation-item__label:hover {
  color: #000;
}

.mbt.post_group_landing .wp-block-query-pagination-next,
.mbt.post_group_landing .wp-block-query-pagination-previous {
  color: #000 !important;
  transition: 0.3s;
}

.mbt.post_group_landing .wp-block-query-pagination-next:hover,
.mbt.post_group_landing .wp-block-query-pagination-previous:hover {
  color: #c9340a !important;
}

.mbt.template_width {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.mbt.template_header_columns, .mbt.template_footer_columns {
  gap: 20px !important;
}

.mbt.template_header_columns .wp-block-navigation__responsive-container-content ul, .mbt.template_footer_columns .wp-block-navigation__responsive-container-content ul {
  row-gap: 8px;
}

.mbt.template_header_columns {
  flex-wrap: nowrap !important;
}

.mbt.template_header_columns .wp-block-column:nth-child(1) {
  min-width: 230px;
}

.mbt.template_header_columns .wp-block-column:nth-child(3) {
  min-width: 200px;
}

.mbt.template_header_columns .wp-block-button__link,
.mbt.template_header_columns a {
  transition: 0.3s;
}

.mbt.template_header_columns a.wp-block-button__link:hover {
  background-color: #c9340a !important;
}

.mbt.template_footer_columns {
  border-style: solid;
  border-width: 0 0 4px 0;
  border-color: #f4f9fd;
}

.mbt.template_footer_columns .wp-block-heading {
  font-size: 40px !important;
}

.mbt.template_footer_columns .wp-block-column:nth-child(1) {
  min-width: 230px;
}

.mbt.post_group_landing .wp-block-post-template {
  gap: 20px;
}

.mbt.post_group_landing a {
  text-decoration: none;
}

@media only screen and (min-width: 1921px) {
  .mbt.template_width {
    max-width: 1690px;
  }
  .mbt.template_main_group .wp-block-navigation-item__label,
  .mbt.template_main_group p {
    font-size: 20px !important;
  }
  .mbt.template_header_columns .wp-block-navigation-item__label,
  .mbt.template_header_columns p, .mbt.template_footer_columns .wp-block-navigation-item__label,
  .mbt.template_footer_columns p {
    font-size: 20px !important;
  }
  .mbt.template_header_columns {
    padding: 30px 0 !important;
  }
  .mbt.template_header_columns .wp-block-button__link {
    font-size: 24px !important;
  }
  .mbt.template_header_columns .wp-block-column:nth-child(1) {
    min-width: 330px;
  }
  .mbt.template_header_columns .wp-block-column:nth-child(3) {
    min-width: 300px;
  }
  .mbt.template_footer_columns {
    margin-top: 90px !important;
  }
  .mbt.template_footer_columns .wp-block-heading {
    font-size: 55px !important;
  }
  .mbt.template_footer_columns .wp-block-column:nth-child(1) {
    min-width: 300px;
  }
  .mbt.post_group {
    padding: 200px 0 !important;
  }
  .mbt.post_group .wp-block-post-title {
    font-size: 110px !important;
  }
  .mbt.post_group p {
    font-size: 20px !important;
  }
  .mbt.post_group_landing {
    padding: 200px 0 !important;
  }
  .mbt.post_group_landing p {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 1366px) {
  .mbt.template_width {
    max-width: 90%;
  }
  .mbt.template_footer_columns {
    margin-top: 30px !important;
  }
  .mbt.template_footer_columns .wp-block-heading {
    font-size: 36px !important;
  }
  .mbt.post_group {
    padding: 90px 0 !important;
  }
  .mbt.post_group .wp-block-post-title {
    font-size: 60px !important;
  }
  .mbt.post_group_landing {
    padding: 90px 0 !important;
  }
}

@media only screen and (max-width: 1024px) {
  .mbt.post_group {
    padding: 60px 0 !important;
  }
  .mbt.post_group .wp-block-post-title {
    font-size: 50px !important;
  }
  .mbt.post_group_landing {
    padding: 60px 0 !important;
  }
  .mbt.template_footer_columns .wp-block-heading {
    font-size: 32px !important;
  }
  .mbt.template_header_columns .wp-block-button__link {
    font-size: 18px !important;
    padding: 15px !important;
  }
  .mbt.template_header_columns .wp-block-column:nth-child(1) {
    min-width: 180px;
  }
  .mbt.template_header_columns .wp-block-column:nth-child(3) {
    min-width: 180px;
  }
}

@media only screen and (max-width: 781px) {
  .mbt.post_group {
    padding: 50px 0 !important;
  }
  .mbt.post_group .wp-block-post-title {
    font-size: 40px !important;
    text-align: center;
  }
  .mbt.post_group_landing {
    padding: 50px 0 !important;
  }
  .mbt.template_footer_columns .wp-block-heading {
    font-size: 28px !important;
    text-align: center;
  }
  .mbt.template_footer_columns .wp-block-navigation__container {
    justify-content: center;
  }
  .mbt.template_footer_columns p {
    text-align: center;
  }
  .mbt.template_footer_columns .wp-block-navigation__responsive-container-content ul {
    column-gap: 10px;
  }
  .mbt.template_header_columns .wp-block-column:nth-child(1) {
    min-width: 140px;
  }
  .mbt.template_header_columns .wp-block-column:nth-child(3) {
    min-width: 140px;
  }
  .mbt.template_header_columns .wp-block-navigation__responsive-container-content ul {
    column-gap: 10px;
  }
}

@media only screen and (max-width: 599px) {
  .mbt.template_header_columns {
    gap: 10px !important;
  }
  .mbt.template_header_columns .wp-block-column:nth-child(1) {
    order: 1;
    min-width: 120px;
    max-width: 200px;
  }
  .mbt.template_header_columns .wp-block-column:nth-child(2) {
    order: 3;
    max-width: 24px;
  }
  .mbt.template_header_columns .wp-block-column:nth-child(3) {
    order: 2;
    min-width: 120px;
    max-width: 200px;
    margin-left: auto;
  }
  .mbt.template_header_columns .wp-block-button__link {
    font-size: 16px !important;
    padding: 10px !important;
  }
  .mbt.template_footer_columns {
    gap: 10px !important;
  }
  .mbt.template_footer_columns .wp-block-heading {
    font-size: 24px !important;
  }
  .mbt.post_group {
    padding: 30px 0 !important;
  }
  .mbt.post_group .wp-block-post-title {
    font-size: 32px !important;
  }
  .mbt.post_group_landing {
    padding: 30px 0 !important;
  }
}

body .maxi-blocks--active {
  --wp--style--global--content-size: 100%;
  --wp--style--global--wide-size: 100%;
}

body .maxi-blocks--active .dataviews-view-grid
.dataviews-view-grid__card:has(
~ .maxi-blocks-pattern-preview-grid__card
) {
  height: auto;
}

body .maxi-blocks--active .site-editor-php .components-resizable-box__container {
  overflow: visible;
}

body .maxi-blocks--active .editor-styles-wrapper.block-editor-writing-flow {
  overflow-x: hidden;
}

body .maxi-blocks--active .block-editor-block-preview__container:has(.maxi-blocks-pattern-preview)
~ .block-editor-patterns__pattern-details
.block-editor-block-patterns-list__item-title {
  display: block !important;
}

body .maxi-blocks--active:where(.wp-site-blocks) > *,
body .maxi-blocks--active:where(body .is-layout-constrained) > *,
body .maxi-blocks--active :where(.wp-site-blocks) > *,
body .maxi-blocks--active :where(body .is-layout-constrained) > * {
  margin-block-start: 0 !important;
}

body .maxi-blocks--active .editor-styles-wrapper .is-layout-constrained
> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 100%;
}

body .maxi-blocks--active .editor-styles-wrapper .is-root-container > div.wp-block:has(.maxi-block) {
  max-width: 100%;
}

body .maxiblocks-custom-pattern {
  height: auto !important;
}

body .maxiblocks-custom-pattern .block-editor-block-preview__content {
  transform: none !important;
  aspect-ratio: auto !important;
}

body .maxiblocks-custom-pattern .block-editor-block-preview__content img {
  max-width: 100%;
  margin-bottom: -5px;
}

body .maxiblocks-custom-pattern .dataviews-view-grid__media {
  aspect-ratio: auto !important;
  min-height: auto !important;
}

body .block-editor-iframe__container:has(.maxiblocks-pattern-preview-image) {
  overflow: visible;
}

@charset "UTF-8";
.mbt-notice {
  font-family: 'Roboto', sans-serif;
  color: #9b9b9b;
  font-weight: 400;
  background-color: #fff;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  border: 1px solid #ddd;
  padding: 42px 67px;
  box-sizing: border-box;
  margin-top: 35px;
  margin-right: 25px;
}

.mbt-notice__row {
  display: flex;
  flex-wrap: wrap;
}

.mbt-notice__col {
  flex: 1;
  padding: 10px;
}

.mbt-notice__col--right {
  max-width: 300px;
}

.mbt-notice__title {
  font-size: 36px;
  color: #000000;
  font-weight: 700;
  margin: 26px 2px 33px !important;
}

.mbt-notice__subtitle {
  margin: 0;
  font-size: 18px;
}

.mbt-notice__subtitle:after {
  content: '🎈';
}

.mbt-notice__description {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.5;
  max-width: 32%;
}

.mbt-notice__actions {
  display: flex;
  margin-top: 40px;
}

.mbt-notice__actions button {
  margin-right: 17px;
}

.mbt-notice__actions .mbt-button {
  border-radius: 49px;
  background-color: #119da4;
  color: #fff;
  border: none;
  padding: 10px 26px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-weight: 700 !important;
  font-size: 16px !important;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
}

.mbt-notice__actions .mbt-button__icon {
  font-size: 30px;
  margin-left: 8px;
  margin-top: -3px;
}

.mbt-notice__actions .mbt-button:hover {
  opacity: 0.502;
  cursor: pointer;
}

.mbt-notice__image-container img {
  max-width: 100%;
  height: auto;
}

.mbt-notice__dismiss {
  position: absolute;
  right: 25px;
  top: 35px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 30px;
}

.mbt-notice__dismiss__dismiss-text {
  display: none;
}

@media (max-width: 1830px) {
  .mbt-notice {
    padding: 30px;
    box-sizing: border-box;
    margin-top: 35px;
    margin-right: 20px;
  }
  .mbt-notice__col {
    flex: 1;
    padding: 0;
  }
  .mbt-notice__col--right {
    max-width: 300px;
  }
  .mbt-notice__title {
    font-size: 30px;
    margin: 15px 0px;
  }
  .mbt-notice__subtitle {
    font-size: 16px;
  }
  .mbt-notice__description {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
    max-width: 50%;
  }
  .mbt-notice__actions {
    margin-top: 0;
  }
  .mbt-notice__actions button {
    margin-right: 17px;
  }
  .mbt-notice__actions .mbt-button {
    padding: 5px 20px;
    font-size: 14px !important;
    transition: all 0.5s ease;
  }
  .mbt-notice__actions .mbt-button__icon {
    font-size: 25px;
    margin-left: 5px;
    margin-top: -3px;
  }
}

@media (max-width: 1400px) {
  .mbt-notice {
    background-position: 130%;
  }
  .mbt-notice__title {
    font-size: 25px;
    margin: 10px 0px;
  }
  .mbt-notice__subtitle {
    font-size: 14px;
  }
  .mbt-notice__description {
    max-width: 70%;
    margin-bottom: 10px;
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .mbt-notice {
    background-image: none !important;
  }
  .mbt-notice__title {
    margin: 10px 0px;
  }
  .mbt-notice__subtitle {
    font-size: 16px;
  }
  .mbt-notice__description {
    max-width: 100%;
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .mbt-notice {
    margin-top: 50px;
  }
  .mbt-notice__dismiss {
    top: 55px;
  }
}

@media (max-width: 600px) {
  .mbt-notice {
    margin-top: 50px;
  }
  .mbt-notice__title {
    font-size: 20px;
  }
  .mbt-notice__subtitle, .mbt-notice__description {
    font-size: 14px;
  }
  .mbt-notice__dismiss {
    top: 100px;
  }
}

@media (max-width: 480px) {
  .mbt-notice {
    padding: 20px;
  }
  .mbt-notice__title {
    font-size: 22px;
    line-height: 1.3;
  }
  .mbt-notice__subtitle, .mbt-notice__description {
    font-size: 14px;
  }
  .mbt-notice__dismiss {
    font-size: 18px;
  }
  .mbt-notice__actions {
    flex-direction: column;
  }
  .mbt-notice__actions button {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .mbt-notice__actions .mbt-button {
    width: fit-content;
    line-height: normal;
  }
}

