body.maxi.theme-maxiblocks.maxi-blocks--active {
	--wp--style--global--content-size: 100%;
	--wp--style--global--wide-size: 100%;
	:where(.wp-site-blocks) > * {
		margin-block-start: 0 !important;
	}
}
