button.maxiblocks-custom-pattern {
    .block-editor-block-preview__content {
        transform: none !important;
        aspect-ratio: auto !important;
        img {
            max-width: 100%;
        }
    }
}
