.maxiblocks-custom-pattern {
	height: auto !important;
	.block-editor-block-preview__content {
		transform: none !important;
		aspect-ratio: auto !important;
		img {
			max-width: 100%;
			margin-bottom: -5px;
		}
	}
	.dataviews-view-grid__media {
		aspect-ratio: auto !important;
		min-height: auto !important;
	}
}

// fix for the grey area while scrolling in the site editor
body.maxi-blocks--active.site-editor-php .components-resizable-box__container {
	overflow: visible;
}
