// Base notice styles
.mbt-notice {
    font-family: 'Roboto', sans-serif;
    color: #9b9b9b;
    font-weight: 400;
    background-color: #fff;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    border: 1px solid #ddd;
    padding: 42px 67px;
    box-sizing: border-box;
    margin-top: 35px;
    margin-right: 25px;

    // Row inside the notice
    &__row {
        display: flex;
        flex-wrap: wrap;
    }

    // Column styles
    &__col {
        flex: 1;
        padding: 10px;

        // Modifier for the right column
        &--right {
            max-width: 300px;
        }
    }

    // Title and subtitle styles
    &__title {
        font-size: 36px;
        color: #000000;
        font-weight: 700;
        margin: 26px 2px 33px;
    }
    &__subtitle {
        margin: 0;
        font-size: 18px;
        &:after {
            content: '🎈';
        }
    }

    // Description paragraph
    &__description {
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 1.5;
        max-width: 32%;
    }

    // Action area
    &__actions {
        display: flex;
        margin-top: 40px;
        // Primary button styles
        button {
            margin-right: 17px;
        }
        .mbt-button {
            border-radius: 49px;
            background-color: #119da4;
            color: #fff;
            border: none;
            padding: 10px 26px;
            text-align: center;
            display: inline-block;
            text-decoration: none;
            font-weight: 700 !important;
            font-size: 16px !important;
            transition: all 0.5s ease;
            display: flex;
            align-items: center;
            justify-content: center;

            // Text inside the button
            &__text {
            }
            &__icon {
                font-size: 30px;
                margin-left: 8px;
                margin-top: -3px;
            }
            &:hover {
                opacity: 0.502;
                cursor: pointer;
            }
        }
    }

    // Image container
    &__image-container {
        img {
            max-width: 100%;
            height: auto;
        }
    }

    // Dismiss button
    &__dismiss {
        float: right;
        border: none;
        background: none;
        cursor: pointer;

        // Text for screen readers
        &__dismiss-text {
            display: none;
        }
    }
}
