body .maxi-blocks--active {
  --wp--style--global--content-size: 100%;
  --wp--style--global--wide-size: 100%;
}

body .maxi-blocks--active .dataviews-view-grid
.dataviews-view-grid__card:has(
~ .maxi-blocks-pattern-preview-grid__card
) {
  height: auto;
}

body .maxi-blocks--active .site-editor-php .components-resizable-box__container {
  overflow: visible;
}

body .maxi-blocks--active .editor-styles-wrapper.block-editor-writing-flow {
  overflow-x: hidden;
}

body .maxi-blocks--active .block-editor-block-preview__container:has(.maxi-blocks-pattern-preview)
~ .block-editor-patterns__pattern-details
.block-editor-block-patterns-list__item-title {
  display: block !important;
}

body .maxi-blocks--active:where(.wp-site-blocks) > *,
body .maxi-blocks--active:where(body .is-layout-constrained) > *,
body .maxi-blocks--active :where(.wp-site-blocks) > *,
body .maxi-blocks--active :where(body .is-layout-constrained) > * {
  margin-block-start: 0 !important;
}

body .maxi-blocks--active .editor-styles-wrapper .is-layout-constrained
> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 100%;
}

body .maxi-blocks--active .editor-styles-wrapper .is-root-container > div.wp-block:has(.maxi-block) {
  max-width: 100%;
}

body .maxiblocks-go-custom-pattern {
  height: auto !important;
}

body .maxiblocks-go-custom-pattern .block-editor-block-preview__content {
  transform: none !important;
  aspect-ratio: auto !important;
}

body .maxiblocks-go-custom-pattern .block-editor-block-preview__content img {
  max-width: 100%;
  margin-bottom: -5px;
}

body .maxiblocks-go-custom-pattern .dataviews-view-grid__media {
  aspect-ratio: auto !important;
  min-height: auto !important;
}

body .block-editor-iframe__container:has(.maxiblocks-go-pattern-preview-image) {
  overflow: visible;
}

body .editor-styles-wrapper
.is-layout-constrained
> :where(:not(.alignleft):not(.alignright):not(.alignfull)),
body .is-layout-constrained
> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
}

body .editor-styles-wrapper {
  padding-bottom: 3vh;
}

:root :where(.wp-site-blocks) > *:has(.maxi-block) {
  margin-block-start: 0;
}

.entry-content :not(.maxi-block) a:not(.wp-block-button__link):not(.wp-block-file__button),
:not(.maxi-block) .wp-block-comments a:not(.wp-block-button__link):not(.wp-block-file__button),
:not(.maxi-block) .widget_text a:not(.wp-block-button__link):not(.wp-block-file__button) {
  text-decoration: underline;
}

.entry-content :not(.maxi-block) a:not(.wp-block-button__link):not(.wp-block-file__button):hover, .entry-content :not(.maxi-block) a:not(.wp-block-button__link):not(.wp-block-file__button):focus,
:not(.maxi-block) .wp-block-comments a:not(.wp-block-button__link):not(.wp-block-file__button):hover,
:not(.maxi-block) .wp-block-comments a:not(.wp-block-button__link):not(.wp-block-file__button):focus,
:not(.maxi-block) .widget_text a:not(.wp-block-button__link):not(.wp-block-file__button):hover,
:not(.maxi-block) .widget_text a:not(.wp-block-button__link):not(.wp-block-file__button):focus {
  text-decoration: none;
}

.wp-block-comments p,
.wp-block-comments a {
  color: #9b9b9b;
}

.wp-block-comments a {
  transition: 0.3s ease;
}

.wp-block-comments a:hover, .wp-block-comments a:focus {
  color: #c9340a;
}

.wp-block-comments .wp-element-button {
  background-color: #000;
  color: #fff;
}

.wp-block-comments .wp-element-button:hover, .wp-block-comments .wp-element-button:focus {
  transition: 0.3s ease;
  background-color: #c9340a;
}
