@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url('Roboto-Regular.woff2') format('woff2')
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url('Roboto-Bold.woff2') format('woff2')
}
